
#txt_output{
  width:200px;
  height:50px;
}
#result{
  margin: 1rem;
}
#prime_body{
background-color: lightblue;
text-align: center;
border: 1px solid black;
padding: 2rem;
width:300px;
margin: auto;
height: 350px;
margin-top: 50px;
}